.Places {
    margin-top: 5em;
    margin-left: 10%;
}

.titleContainer {
    margin-bottom: 2em;
}

.title {
    font-size: 3.5em;
    margin-left: .5em;
}

.filterContainer {
    margin-bottom: 3em;
    display: flex;
    flex-direction: row;
    column-gap: 1.5em;
    margin-left: 1.5em;
}

.categories {
    height: 2.5em;
    width: 12em;
    border-radius: 15px;
    padding: 0px 8px
}

.search {
    margin-top: .25em;
    height: 2em;
    width: 15em;
    border-radius: 20px;
    padding-inline-start: 10px;
    border-width: 1px;
    border-color: black;
}

.cardContainer {
    background-color: #F2F2F2;
    width: 90%;
    height: 200px;
    min-height: 45em;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 3em;
    row-gap: 2em;
    padding-left: 5em;
    border-radius: 30px;
    padding-bottom: 2em;
}

.cards {
    width: 15em;
    min-height: 18em;
    max-height: 19em;
    margin-top: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border: none;
}

.body {
    margin-top: 10px;
}

.address {
    margin-top: -.4em;
    font-weight: lighter;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
    margin-top: -.5em;
}

.tag {
    width: min-content;
    color: white;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    border-radius: 20px;
    font-size: 13px;
}

.Groceries,
.Movies,
.Fast {
    background-color: #63BDFF;
}

.School,
.Climbing,
.SitDown {
    background-color: #FF6363;
}

.Tech,
.Fitness,
.Mexican {
    background-color: #FFC163;
}

.Clothes,
.Bowling,
.Japanese {
    background-color: #9E63FF;
}

.Sports,
.Hiking,
.Sandwiches {
    background-color: #63FFA1;
}

.Misc,
.Games,
.Korean {
    background-color: #FF63C1;
}

.Skating,
.Grill {
    background-color: #63FFE3;
}

.Museum,
.TakeOut {
    background-color: #4A79BF;
}

.Music,
.Italian {
    background-color: #8C4ABF;
}

.Bar {
    background-color: #0072F9;
}

.Burgers {
    background-color: #3ADD5E;
}

.Pizza {
    background-color: #EB9292;
}

.Pub {
    background-color: #92C0EB;
}

.Wings {
    background-color: #C492EB;
}

.Mediterranean {
    background-color: #EB92D2;
}

.Theater,
.Steakhouse {
    background-color: #BCDD3A;
}

.img {
    object-fit: contain;
    width: 100%;
    height: 100px;
    padding-left: 2em;
    padding-right: 2em;
}

.cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.star {
    margin-left: .5em;
    min-width: 30px;
    min-height: 30px;
}